<section class="filter-price filter-tag">
  <div class="widget-title">
    <h2 class="mb-0">{{ settings.shop_by_price_title }}</h2>
  </div>

  {% assign price_ranges = "10 - 20,20 - 30,30 - 50,50 - 100,100 - 200" | split: "," %}
  <ul class="list-none list-price">
    {% for range in price_ranges %}
      {% if range != "" %}
        {% assign prices = range | split: " - " %}
        {% assign min_price = prices[0] | times: 100 %}
        {% assign max_price = prices[1] | times: 100 %}
        <li class="cat-item">
          <input type="checkbox" value="{{ min_price }}-{{ max_price }}" id="price-filter-{{ forloop.index }}">
          <a href="javascript:void(0)" title="{{ min_price }} - {{ max_price }}" class="price-filter" data-min="{{ min_price }}" data-max="{{ max_price }}">
            {{ min_price | money }} - {{ max_price | money }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <!-- /.product-categories -->
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Function to filter products based on selected checkboxes
    function filterProducts() {
       console.log('Filtering products...');
      // Get all checkboxes
      let checkboxes = document.querySelectorAll('.price-filter');
      let filters = [];

      // Collect checked filters
      checkboxes.forEach(function(checkbox) {
        if (checkbox.checked) {
          filters.push({
            min: parseFloat(checkbox.dataset.min),
            max: parseFloat(checkbox.dataset.max)
          });
        }
      });

      // Output the min and max values to console
      filters.forEach(function(filter) {
        console.log('Min:', filter.min, 'Max:', filter.max);
      });

      // Get all products
      let products = document.querySelectorAll('.trans-product');
      // Show/Hide products based on filters
      products.forEach(function(product) {
        let showProduct = filters.every(function(filter) {
          let productConvertedPrice = parseFloat(product.dataset.convertedPrice);
          return productConvertedPrice >= filter.min && productConvertedPrice <= filter.max;
        });

        if (showProduct) {
          product.style.display = 'block';
        } else {
          product.style.display = 'none';
        }
      });
    };

    // Attach event listeners to checkboxes
    let checkboxes = document.querySelectorAll('.price-filter');
    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', filterProducts);
    });

    // Initial filter on page load
    filterProducts();
  });
</script>
