<section class="filter-price filter-tag">
  <div class="widget-title">
    <h2 class="mb-0">{{ settings.shop_by_price_title }}</h2>
  </div>

  {% assign price_ranges = "10 - 20,20 - 30,30 - 50,50 - 100,100 - 200" | split: "," %}
  <ul class="list-none list-price">
    {% for range in price_ranges %}
      {% if range != "" %}
        {% assign prices = range | split: " - " %}
        
        <li class="cat-item">
          <input type="checkbox" value="{{ min_price }}-{{ max_price }}" id="price-filter-{{ forloop.index }}">
          <a href="javascript:void(0)" title="{{ min_price }} - {{ max_price }}" class="price-filter" data-min="{{ min_price }}" data-max="{{ max_price }}">
            {{ min_price | money }} - {{ max_price | money }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <!-- /.product-categories -->
</section>


